body{
    margin: 0;
}
.formContainer{
    background-color: papayawhip;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: lightcoral;
        padding: 20px 60px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{
            color: darkred;
            font-weight: bold;
            font-size: 24px;
        }
        .title{
            color: darkred;
            font-size: 18px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 15px;
                border: none;
                border-radius: 15px;
                width: 250px;
                border-bottom: 1px solid papayawhip;
                &::placeholder{
                    color: rgb(175,175,175);
                }
                
            }
            button{
                background-color: papayawhip ;
                color: black;
                padding: 10px;
                font-weight: bold;
                border: none;
                border-radius: 15px;
                cursor: pointer;
            }
            .fileimage{
                display: none;
            }
            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color: darkred;
                font-size: 14px; 
                cursor: pointer;

                img{
                   width: 32px; 
                }
            }
        }
        p{
            color: darkred;
            font-size: 15px;
            margin-top: 10px;
        }
    }
}

.home{
    background-color: #ADD8E6;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border: 1px solid black;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;

        .sidebar{
            flex:1 ;
            border-right: 1px solid black;
            background-color: #3e3c61;

            .navbar{
                display: flex;
                align-items: center;
                background-color:#2f2d52;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: #ddddf7;

                .logo{
                    font-weight: bold;
                }

                .user{
                    display: flex;
                    gap: 10px;

                    img{
                        background-color: #ddddf7;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    button{
                        background-color: #5d5b8d;
                        border-radius: 50px;
                        color:#ddddf7;
                        font-size: 10px;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        
            .search{
                border-bottom: 1px solid grey;

                .searchForm{
                    padding: 10px;

                    input{
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;

                        &::placeholder{
                            color: lightgrey;
                        }
                    }
                }
            }
            .userchat{
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: white;
                cursor: pointer;

                &:hover{
                    background: #2f2d52;
                }
                img{
                    width: 50px;
                    height:50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .userChatInfo{
                    span{font-size: 18px;font-weight: 500;}
                     p{font-size: 14px; color: lightgray;}
                }
            }
        }
        .chat{
            flex: 2;
        }
    }
}